// EASING
$easing = cubic-bezier(0.645, 0.045, 0.355, 1)

// COLORS

// FONTS


// BREAKPOINTS
$media-desktop-wide = 'all and (min-width: 2180px)'
$media-desktop-big = 'all and (min-width: 1550px)'
$media-desktop = 'all and (min-width: 940px)'
$media-tablet = 'all and (max-width: 940px)'
$media-tablet-portrait = 'all and (max-width: 800px)'
$media-full-width = 'all and (max-width: 749px)'
$media-mobile = 'all and (max-width: 640px)'
$media-mobile-portrait = 'all and (max-width: 480px)'
$media-tiny = 'all and (max-width: 360px)'
$media-too-high = 'screen and (min-height: 1240px)'
$media-mobile-device = 'only mobile'


// GENERAL

html, body
  height: 100%

body
  -webkit-font-smoothing: antialiased
  background:$white
  margin: 0 auto
  font-family: $body

  .wrapper
    width: 940px
    padding: 0 10px
    margin: 0 auto

// TYPOGRAPHY
h1
  font-family: $heading

a
  color: $mid
  text-decoration: underline

blockquote
  padding-left: 20px
  border-left 3px solid rgba(black,0.1)



// FUNCTIONAL CLASSES

.hidden
  display:none !important

.center
  text-align:center

.inline
  display:inline

.right
  float:right

.left
  float:left

.clearfix
  clear:both


// COLUMNS

.cols
  font-size:0

  .col
    vertical-align: top
    display:inline-block

  .col-33
    width:33.334%

  .col-50
    width:50%

  .col-60
    width:60%

  .col-40
    width:40%