footer
  width 100%

  .wrapper
    border-top 1px solid rgba(black,0.11)
    padding 30px 20px

  .logo
    display inline-block
    height 37px
    margin-top 15px

  .menu
    display inline-block
    vertical-align middle
    font-size ($defaultFontSize * 0.875)
    font-weight $fontWeightHeavy
    float right
    margin 24px 0 0 0

    li
      display inline
      margin 0 20px 0 0

      &:last-child
        margin 0

      .twitterLogo
        width 24px