@import mixins

.intro
  width 750px
  padding 80px 0 0
  margin 0 auto

.about
  width 600px
  margin -80px auto 0
  padding 80px 0 0

.partnerships
  margin 0 0 80px

  p
    width 600px
    margin 0 auto

  ul
    margin 30px 0 0

    li
      display inline-block
      vertical-align: middle
      margin 20px 25px 0
      max-width 300px

      &.a21
        image-retina('../img/partnerships/a21.png')

      &.charity
        image-retina('../img/partnerships/charity.png')

      &.booking
        image-retina('../img/partnerships/booking.png')

      &.mandalah
        image-retina('../img/partnerships/mandalah.png')

      &.wasserbetriebe
        display none
        image-retina('../img/partnerships/wasserbetriebe.png')

      &.unionhilfswerk
        image-retina('../img/partnerships/unionhilfswerk.png')

.twentyplus
  background-color #3E4357
  color white

  .header
    position: relative
    background url('../img/2020.jpg')
    background-position center center
    background-size cover
    padding 120px 0

    .twentytplus-logo
      margin 0 auto
      image('../img/2020-logo.png')

    .event-meta
      margin 20px 0

      span
        position relative
        text-transform uppercase
        letter-spacing 2px
        display inline-block
        margin 0 20px 0 14px
        padding 0 0 0 34px

        &:before
          content ''
          width 24px
          height 24px
          position absolute
          left 0
          top -2px
          background-size cover

        &.date:before
          background-image url('../img/calendar.svg')

        &.location:before
          background-image url('../img/pin.svg')

    h2.small
      margin-top 10px

    .event-meta + p
      width 600px
      margin 60px auto

    .cols .col
      margin 20px 0 0
      padding 0 10px

      img
        margin 0 0 10px

      h4
        font-size $defaultFontSize

      p.small
        font-size ($defaultFontSize*0.875)

  .speaker
  .venue
    position relative
    height 400px
    background-size cover

    .copy
      background darken($darkblue,20%)
      height 100%
      width 50%
      padding 30px
      box-sizing border-box

      h2
        font-size ($defaultFontSize*2.5)
        margin 0 0 10px 0

      p
        font-size ($defaultFontSize*1.125)

  .speaker
    background-image url('../img/mal.jpg')
    background-position center center

  .venue
    background-image url('../img/venue.jpg')

    .copy
      position absolute
      height 60%
      width 100%
      bottom 0
      left 0

      p
        display inline-block

      .map
        display inline-block
        float right
        margin 0 50px 0 0
        text-align center

        .map-icon
          image('../img/map.svg')

        .view-map
          display block
          padding-top 10px
          text-transform uppercase
          font-size ($defaultFontSize*0.8215)
          font-weight $fontWeightBold
          color white

.contact
  padding 80px 0

  .details
    padding 0 30px 0 0
    box-sizing border-box

  .address
  .contactinfo
    display: inline-block
    margin-top 40px

  .address
    margin-right 30px

@media $media-tablet

  .twentytplus
    .speaker
      background-position -100px center

      .copy
        width 63%
        padding 20px

    .venue
      .copy
        .map
          display inline-block
          float right
          margin 0
          text-align center

@media $media-tablet-portrait

  .twentytplus
    .header
      background url('../img/2020.jpg')
      background-position center center
      background-size cover

    .speaker
      width 100%
      background-position right center

      .copy
        width 50%

    .venue
      width 100%

@media $media-full-width

  .intro
    width 100%
    padding 80px 20px 0


@media $media-mobile

  .about
    width 100%

  .partnerships
    p
      width 100%

    ul
      margin 30px 0 0

      li
        margin 20px
        max-width 300px

  .twentytplus
    .header
      padding 80px 0

      .twentytplus-logo
        width 300px
        height 40px
        background-size contain
        background-repeat no-repeat

      .event-meta
        span
          margin 0 20px 30px 14px

      .event-meta + p
        width 100%
        padding 0 20px
        box-sizing border-box

    .speaker
    .venue
      .copy
        h2
          font-size ($defaultFontSize*2.1)
          line-height ($defaultFontSize*2.7)

        p
          font-size ($defaultFontSize*1)

    .speaker
      width 100%
      background-position top center
      background-size cover
      height auto
      padding 0 !important

      .copy
        left 0
        width 100%
        margin 0
        padding 30px

  .contact
    text-align center

    .details
      padding 0 20px
      width 100%

      .address
        margin-right 0

    .form
      margin 60px 0 0
      width 100%

  footer
    text-align center

    .menu
      clear both
      float none

@media $media-mobile-portrait

  .twentytplus
    .header
      padding 80px  0  40px

      .event-meta
        margin 40px 0 0

      .event-meta + p

        margin 20px 0

      .cols .col
        margin 0
        padding 0 10px 30px
        width 100% !important
