@import mixins

.intro
  width 750px
  padding 80px 0 0
  margin 0 auto

.about
  width 600px
  margin 0 auto

.services
  margin 20px 0
  .cols .col
    padding 0 10px

    img
      margin 0 0 10px

    h4
      font-size $defaultFontSize

    p.small
      font-size ($defaultFontSize*0.875)

.partnerships
  margin 0 0 80px

  p
    width 600px
    margin 0 auto

  ul
    margin 30px 0 0
    li
      display inline-block
      vertical-align: middle
      margin 20px 25px 0

      &.a21
        image-retina('../img/partnerships/a21.png')

      &.charity
        image-retina('../img/partnerships/charity.png')

      &.booking
        image-retina('../img/partnerships/booking.png')

      &.mandalah
        image-retina('../img/partnerships/mandalah.png')

      &.soundcloud
        image-retina('../img/partnerships/soundcloud.png')

      &.bundestag
        image-retina('../img/partnerships/bundestag.png')

