@keyframes fadeDelay
  0%
    opacity 0

  50%
    opacity 0

  100%
    opacity 1

@keyframes fade
  0%
    opacity 0

  100%
    opacity 1

@-webkit-keyframes fadeSlide
  0%
    opacity 0
    -webkit-transform translateY(-30px)

  100%
    opacity 1
    -webkit-transform translateY(0)

@-moz-keyframes fadeSlide
  0%
    opacity 0
    -moz-transform translateY(-30px)

  100%
    opacity 1
    -moz-transform translateY(0)

@-webkit-keyframes fadeScale
  0%
    opacity 0
    -webkit-transform scale(1.1)

  100%
    opacity 0.7
    -webkit-transform scale(1)

@-moz-keyframes fadeScale
  0%
    opacity 0
    -moz-transform scale(1.1)

  100%
    opacity 0.7
    -moz-transform scale(1)

.projects
  position relative
  height auto
  width 100%
  margin 80px 0
  padding 0 100px
  transition: max-width 1s ease-in-out;
  overflow: hidden

  .projet-navigation
    margin 30px 0 0 0
    font-size 0

    li
      display inline-block
      margin 10px 10px 0 0

      a
        display block
        font-size ($defaultFontSize * 0.9)
        font-weight $fontWeightHeavy
        color white
        padding 8px 16px
        border-radius 100px
        box-shadow inset 0 0 0 1px rgba(white,0.5)
        cursor pointer
        transition all 600ms ease

        &.active
        &:hover
          box-shadow inset 0 0 0 100px rgba($blue,1)

  .overlay
    background-color rgba($darkblue,0.7)
    position absolute
    left 0
    top 0
    height 100%
    width 100%
    z-index: -1

  .project-background
    position absolute
    left 0
    top 0
    height 100%
    width 100%
    z-index: -2
    background-size cover
    display none
    animation fadeScale 700ms ease
    opacity: 0.7

    &.active
      display block

  .project-wrapper
    width 100%
    padding 0 20px
    box-sizing border-box
    margin 0 auto

    .container
      padding 100px 0

      .description
        width 40%
        display inline-block
        vertical-align top
        text-align: left

        h2, p
          color white
          margin-top 0

      .project-container
        width 55%
        display inline-block
        float right

        .project
          display none

          &.active
            display block

          .content
            h3
              background none
              -webkit-background-clip none
              color $blue
              -webkit-text-fill-color $blue
              animation fadeSlide 600ms ease

            p
              color white
              font-size $defaultFontSize
              line-height: ($defaultFontSize * 1.375)
              animation fadeDelay 600ms ease

            .button
              margin-top 26px
              background-color $blue
              animation fadeDelay 1500ms ease

              &:hover
                background-color darken($blue,10%)

@media $media-tablet

  .projects
    padding 0

    .project-wrapper
      .container
        padding 100px 0

@media $media-tablet-portrait

  .projects
    .project-wrapper
      width 100%

      .container
        padding 50px 0

        .description
          width 350px

        .project-container
          width 400px


@media $media-full-width

  .projects
    .project-wrapper
      .container
        .description
          width 45%

        .project-container
          width 50%

@media $media-mobile

  .projects
    .project-wrapper
      .container
        .description
          width 100%

        .project-container
          margin 40px 0 0
          width 100%
          padding: 0 20px


