// LIBS
@import 'node_modules/nib'

// GENERAL
@import 'defaults'
@import 'resets'
@import 'basic'
@import 'header'
@import 'footer'

// COMPONENTS
@import 'hero'
@import 'projects'

// PAGES
@import 'home'
@import '404'

// RESPONSIVE
@import 'responsive'
